body {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.continer {
    padding: 20px;
}

.section-one {
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

.section-two {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;


}

.section-two__one {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid 2px black;
}

.section-two__two {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid 2px black;
}

.section-two__three {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid 2px black;
}

.section-two__four {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid 2px black;
}

.section-two__order {
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding: right 6px;
    ;
}

.section-two__order:hover {
    background-color: aqua;
    color: black;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding: right:4px;

}

.section-three {
    text-align: center;
    background-color: black;
    color: white;
padding-bottom: 35px;

}

.section-four__order {
    background-color: rgb(255, 255, 255);
    color: rgb(18, 0, 51);
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right:10px;
}
.section-four__order:hover{
    background-color: lightblue;
    color: black;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right:5px;
}